* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    overflow: hidden;
}
.head {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2vh 2vw;
}
nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
nav:not(:last-child){
    font-size: 20px;
}
.contact {
    height: 5vh;
    padding: 0.75ch 1.5vw;
    border: 1px solid white;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.4s ease;
}
.contact:hover {
    background-color: white;
    color: black;
}
.gioithieu {
    display: flex;
    justify-content: flex-end;
    font-size: 1vw;
}
.gioithieu p{
    width: 35vw;
    margin-top: 5vh;
}
.logo {
    position: absolute;
    bottom: 2px;
    font-size: 100px;
    font-weight: bold;
    line-height: 100px;
}
.Tatcalataiphuc {
    position: absolute;
    bottom: 2px;
    right: 2px;
    font-size: 20px;
}