* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    overflow-x: hidden;
}

.head {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2vh 2vw;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav:not(:last-child){
    font-size: 20px;
}

.contact {
    height: 5vh;
    padding: 0.75ch 1.5vw;
    border: 1px solid white;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.4s ease;
}

.contact:hover {
    background-color: white;
    color: black;
}

.gioithieu {
    display: flex;
    justify-content: flex-end;
    font-size: 1vw;
}

.gioithieu p{
    width: 35vw;
    margin-top: 5vh;
}

.logo {
    position: absolute;
    bottom: 2px;
    font-size: 100px;
    font-weight: bold;
    line-height: 100px;
}

.Tatcalataiphuc {
    position: absolute;
    bottom: 2px;
    right: 2px;
    font-size: 20px;
}

.ImageTesting{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: white;
}

.img {
    width: 5vw;
    height: 4vh;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
    position: absolute;
    top: 47vh;
    left: 47vw;
    opacity: 0;
}

#img1{
    z-index: 4;
}

#img2{
    z-index: 3;
}

#img3{
    z-index: 2;
} 

#CaoHoangNamPicture{
    z-index: 0;
}

#img1{
    animation: HieuUngXuatHien 2s linear forwards,
     HieuUngBay 3s linear 2s forwards;/* Add 2 animation như này nếu animation tách riêng 2 thuộc tính thì thuộc tính sau ghi đè thuộc tính trước */
    /* forwards giúp cố định vị trí sau khi xong animation*/
}

#img2{
    animation: HieuUngXuatHien 2s linear 7s forwards,
    HieuUngBay1 2.5s linear 9s forwards;
}

#img3{
    animation: HieuUngXuatHien 2s linear 11.5s forwards,
    HieuUngBay2 2s linear 13.5s forwards;
}

.Introduction{
    color: red;
    font-weight: bold;
    position: absolute;
    font-size: large;
    z-index: 2;
}

.number1{
    width: 0;
    top: 20vh;
    left: 17vw;
    text-shadow: 2px 4px 5px black, 2px -4px 5px white;
    border-right: 2px;
    overflow: hidden; /*Trong qua trinh khoi chay tu 0 den 100% thi chu bi che mo ra dan*/
    white-space: nowrap; /*Khong xuong dong*/
    animation: typing 30s forwards;
    animation-delay: 15.5s;
}

.number2{
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    top: 20vh;
    left: 46.5vw;
    text-shadow: 2px 4px 5px black, 2px -4px 5px white;
    animation: typing 30s forwards;
    animation-delay: 17.5s;
}

.number3{
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    top: 20vh;
    left: 76vw;
    text-shadow: 2px 4px 5px black, 2px -4px 5px white;
    animation: typing 30s forwards;
    animation-delay: 19.5s;
}

@keyframes HieuUngBay {
    0% {
    }
    100%{
        transform: translate(-1vw, -32vh) scale(1.5);
    }
}
/*
@keyframes HieuUngPhongTo {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.5);
    }
}
*/
@keyframes HieuUngBay1 {
    0% {}
    100%{
        transform: translate(-30.5vw, -32vh) scale(1.5);
    }
}

@keyframes HieuUngBay2 {
    0%{}
    100%{
        transform: translate(28.5vw, -32vh) scale(1.5);
    } 
}

@keyframes HieuUngXuatHien{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}
